@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap');

:root {
    --clr-black: #1c1c1c;
    --clr-gray: #ececec;
    --clr-white: #f7f7f7;

    --type-normal: #A8A878;
    --type-fuego: #F08030;
    --type-agua: #6890F0;
    --type-planta: #78C850;
    --type-electrico: #F8D030;
    --type-hielo: #98D8D8;
    --type-lucha: #C03028;
    --type-veneno: #A040A0;
    --type-tierra: #E0C068;
    --type-volador: #A890F0;
    --type-psiquico: #F85888;
    --type-bicho: #A8B820;
    --type-roca: #B8A038;
    --type-fantasma: #705898;
    --type-siniestro: #705848;
    --type-dragon: #7038F8;
    --type-acero: #B8B8D0;
    --type-hada: #F0B6BC;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--clr-black);
    font-family: 'Rubik', sans-serif;
}

body {
    background-color: var(--clr-gray);
    background-image: url(../image/pokeball-icon.png);
    background-size: auto;
    background-position: 5%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

header {
    padding-block: 1rem;
    box-shadow: 0 0 2rem -1rem rgba(0, 0, 0, .5);

}

#form {
    width: 100%;
}

.input {
    border: none;
    outline: none;
    border-radius: 15px;
    padding: 1em;
    background-color: #ffffff;
    box-shadow: inset 2px 5px 10px rgba(0, 0, 0, 0.1);
    transition: 300ms ease-in-out;
    width: 80%;
}

.input:focus {
    background-color: white;
    transform: scale(1.05);
}


.submit {
    position: relative;
    width: 0px;
    height: 60px;
    overflow: hidden;
    border-radius: 50px;
    padding-left: 35px;
    background-color: var(--clr-gray);
    cursor: pointer;
    margin-left: 1rem;
}


.pokeball {
    position: absolute;
    top: 25%;
    left: 10%;
    animation: rotate_4991 1s linear infinite;
}

@keyframes rotate_4991 {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}


/* The switch - the box around the slider */
.switch {
    /* Variables */
    --switch_width: 2em;
    --switch_height: 1em;
    --thumb_color: #e8e8e8;
    --track_color: #e8e8e8;
    --track_active_color: #888;
    --outline_color: #000;
    font-size: 17px;
    position: relative;
    display: inline-block;
    width: var(--switch_width);
    height: var(--switch_height);
    margin-right: 3rem;
    margin-left: 1rem;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    box-sizing: border-box;
    border: 2px solid var(--outline_color);
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--track_color);
    transition: .15s;
    border-radius: var(--switch_height);
}

.slider:before {
    box-sizing: border-box;
    position: absolute;
    content: "";
    height: var(--switch_height);
    width: var(--switch_height);
    border: 2px solid var(--outline_color);
    border-radius: 100%;
    left: -2px;
    bottom: -2px;
    background-color: var(--thumb_color);
    transform: translateY(-0.2em);
    box-shadow: 0 0.2em 0 var(--outline_color);
    transition: .15s;
}

input:checked+.slider {
    background-color: var(--track_active_color);
}

input:focus-visible+.slider {
    box-shadow: 0 0 0 2px var(--track_active_color);
}

/* Raise thumb when hovered */
input:hover+.slider:before {
    transform: translateY(-0.3em);
    box-shadow: 0 0.3em 0 var(--outline_color);
}

input:checked+.slider:before {
    transform: translateX(calc(var(--switch_width) - var(--switch_height))) translateY(-0.2em);
}

/* Raise thumb when hovered & checked */
input:hover:checked+.slider:before {
    transform: translateX(calc(var(--switch_width) - var(--switch_height))) translateY(-0.3em);
    box-shadow: 0 0.3em 0 var(--outline_color);
}

#nav {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: flex-start;
    padding-inline: 2rem;
    max-width: 1000px;
    margin: 0 auto;
}

#navList {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: .5rem;
}

.btn-header {
    background-color: var(--clr-gray);
    padding: 0.5rem;
    border-radius: 100vmax;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 600;
    box-shadow: 0 0 .2rem rgba(0, 0, 0, .25);
}

.btn-header:hover {
    transform: scale(1.1);
    box-shadow: 0 0 .5rem rgba(0, 0, 0, .25);
}

#todos {
    padding: 2rem;
    max-width: 1000px;
    margin: 0 auto;
}

.pokemon-todos {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
}

@media screen and (min-width: 470px) {
    .pokemon-todos {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width: 700px) {
    .pokemon-todos {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (min-width: 470px) and (max-width: 1419px) {
    #logo {
        width: 50%;
        margin: auto;
    }
}

@media screen and (min-width: 1420px) {
    #nav {
        flex-direction: row;
        margin: 0 auto;
        align-items: center;
        gap: 0;
        max-width: 1400px;
    }

    #navList {
        margin-inline: 5rem;
        margin-inline-end: 1rem;
    }

    #logo {
        width: 20%;
        transition-duration: 1s;
    }

    #logo:hover {
        transform: scale(1.3);
    }

    .pokedex {
        justify-self: flex-end;
        transition-duration: 1s;
    }

    .pokedex:hover {
        transform: scale(1.5);
    }
}

.thirdHeader {
    display: flex;
    align-items: center;
}

.pokemon {
    border-radius: 1rem;
    background-color: var(--clr-white);
    box-shadow: 0 0 3rem -1rem rgba(0, 0, 0, .25);
    padding-block: 1rem;
    text-transform: uppercase;
    cursor: pointer;
    transition-duration: .5s;
}

.pokemon:hover>.pokemon-imagen img {
    transform: scale(1.2);
}

.pokemon:hover {
    background-color: rgba(187, 185, 185, 0.339);
}

.pokemon-imagen {
    padding-inline: 1rem;
    display: flex;
    justify-content: center;
    pointer-events: none;
}

.pokemon-imagen img {
    width: 100%;
    max-width: 10rem;
}

.pokemon-info {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    padding-inline: 1rem;
    align-items: center;
    text-align: center;
}

.nombre-c {
    display: flex;
    align-items: center;
    column-gap: 1rem;
    flex-wrap: wrap;
    justify-content: center;
}

.pokemon-id {
    background-color: var(--clr-gray);
    padding: .25rem .5rem;
    border-radius: 100vmax;
    font-size: .75rem;
    font-weight: 500;
}

.pokemon-nombre {
    font-size: 1.4rem;
}

.pokemon-tipos {
    display: flex;
    gap: .5rem;
    font-size: .75rem;
    font-weight: 500;
    flex-wrap: wrap;
    justify-content: center;
}

.tipo {
    padding: .25rem .5rem;
    border-radius: 100vmax;
}

.buttons {
    display: flex;
    justify-content: center;
    width: 200px;
    margin: 2em auto 2em;
}

@keyframes poke-animacion {
    0% {
        transform: translateX(100%);
        background-position: 0 0;
    }

    60% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(0%);
        background-position: -2000px 0;
    }
}

@keyframes moverFondo {
    from {
        background-position: 0 0;
    }

    to {
        background-position: -2000px 0;
    }
}

@keyframes llegada {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(0%);
    }
}

.poke-animacion {
    background-image: url(../recursos/fondo\ ataque.png);
    position: fixed;
    padding: 5rem;
    top: 200px;
    left: 0;
    width: 100%;
    background-position: 0 0;
    background-repeat: repeat-x;
    animation: moverFondo .6s linear infinite, llegada .7s ease forwards;
    display: none;
}

.poke-animacion .pokemon-imagen {
    transform: translateX(100%);
    animation-name: llegada;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-timing-function: ease;
}


.poke-modal {
    position: fixed;
    width: 70%;
    height: 50%;
    background-color: var(--clr-gray);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: solid 1px var(--clr-black);
    display: none;
    padding: 1rem;
    cursor: auto;
    border-radius: 10px;
}

.poke-modal .pokemon-imagen {
    border: solid 1px var(--clr-black);
    width: 40%;
    display: flex;
    flex-direction: column;
}

.poke-modal img {
    position: absolute;
    align-self: center;
    justify-self: center;
    top: -90px;
}

.poke-modal p {
    margin: auto;
}


.poke-modal .pokemon-imagen .info {
    display: flex;
    gap: 1rem;
    flex-direction: column;
}

.poke-modal .poke-types {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: auto;
}

.poke-modal .pokemon-stats {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.poke-info {
    width: 70%;
    padding: 5rem;
    border: solid 1px var(--clr-black);

}

.poke-info .poke-button {
    width: 10rem;
    margin-top: 1.5rem;
    display: flex;
    flex-direction: column;
    margin-inline: auto;
    background-color: #7038F8;
    padding: .3rem;
    border-radius: 10px;
    cursor: pointer;
    transition-duration: .5s;
}

.poke-button:hover {
    background-color: #6890F0;
}

.poke-button button {
    color: white;
    cursor: pointer;
}


.progress-bar-container {
    display: flex;
    flex-direction: row;
    background-color: white;
    border-radius: 5px;
}

.progress-bar {
    border-radius: 5px;
    background-color: gray;
    margin-bottom: 4px;
    margin-left: 1rem;
}

.progress-bar-container span {
    background-color: #6890F0;
    border-radius: 5px;
    padding-inline: .5rem;
    padding-block: -1px;
}

.progress-bar-container .num {
    color: var(--clr-white);
    text-align: center;
}

@keyframes moverFondo {
    from {
        background-position: 0 0;
    }

    to {
        background-position: -2000px 0;
    }
}

@keyframes llegada {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(0%);
    }
}

.poke-animacion {
    background-color: "" !important;
    opacity: 1 !important;
}

.background-effect:not(.poke-animacion) {
    background-color: black;
    opacity: .1;
}

.document-opacity *:not(.animacion) {
    opacity: 0.5;
}

ul {
    list-style-type: none;
}

button {
    background-color: transparent;
    border: 0;
    border-radius: 0;
}

.btnP {
    /* Variables */
    --button_radius: 0.75em;
    --button_color: #e8e8e8;
    --button_outline_color: #000000;
    font-size: 17px;
    font-weight: bold;
    border: none;
    border-radius: var(--button_radius);
    background: var(--button_outline_color);
    margin-inline: 1rem;
}

.button_top {
    display: block;
    box-sizing: border-box;
    border: 2px solid var(--button_outline_color);
    border-radius: var(--button_radius);
    padding: 0.75em 1.5em;
    background: var(--button_color);
    color: var(--button_outline_color);
    transform: translateY(-0.2em);
    transition: transform 0.1s ease;
    width: 120px;
    max-width: 120px;
    cursor: pointer;
}

.btnP:hover .button_top {
    /* Pull the button upwards when hovered */
    transform: translateY(-0.33em);
}

.btnP:active .button_top {
    /* Push the button downwards when pressed */
    transform: translateY(0);
}

.normal {
    background-color: var(--type-normal);
    color: var(--clr-black);
}

.fire {
    background-color: var(--type-fuego);
    color: var(--clr-black);
}

.water {
    background-color: var(--type-agua);
    color: var(--clr-white);
}

.grass {
    background-color: var(--type-planta);
    color: var(--clr-black);
}

.electric {
    background-color: var(--type-electrico);
    color: var(--clr-black);
}

.ice {
    background-color: var(--type-hielo);
    color: var(--clr-black);
}

.fighting {
    background-color: var(--type-lucha);
    color: var(--clr-white);
}

.poison {
    background-color: var(--type-veneno);
    color: var(--clr-white);
}

.ground {
    background-color: var(--type-tierra);
    color: var(--clr-black);
}

.flying {
    background-color: var(--type-volador);
    color: var(--clr-black);
}

.psychic {
    background-color: var(--type-psiquico);
    color: var(--clr-black);
}

.bug {
    background-color: var(--type-bicho);
    color: var(--clr-black);
}

.rock {
    background-color: var(--type-roca);
    color: var(--clr-black);
}

.ghost {
    background-color: var(--type-fantasma);
    color: var(--clr-white);
}

.dark {
    background-color: var(--type-siniestro);
    color: var(--clr-white);
}

.dragon {
    background-color: var(--type-dragon);
    color: var(--clr-white);
}

.steel {
    background-color: var(--type-acero);
    color: var(--clr-black);
}

.fairy {
    background-color: var(--type-hada);
    color: var(--clr-black);
}

.pokedex {
    cursor: pointer;
}

.pokedex img {
    width: 50px;
    height: 50px;
    pointer-events: none;
}

.spanHP {
    background-color: #78C850 !important;
}

.spanATK {
    background-color: red !important;
}

.spanDEF {
    background-color: #6890F0 !important;
}

.spanSpA {
    background-color: #F85888 !important;
}

.spanSpD {
    background-color: #E0C068 !important;
}

.spanSp {
    background-color: #98D8D8 !important;
}